.cart {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 900px;
  border-radius: 10px;
  height: 90vh;
  box-sizing: border-box;
  .price {
    display: flex;
    font-size: 25px;
    justify-content: space-around;
    box-shadow: inset 0 4px 8px rgba(65, 55, 55, 0.2);
  }
}
.fle {
  width: 100%;
  height: 100px;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: inset 0 4px 8px rgba(65, 55, 55, 0.2);

  .icon {
    font-size: 2em;
    transition: all 0.3s ease;
    svg {
      pointer-events: none;
    }
  }
  .icon:hover {
    color: red;
    transform: scale(1.2);
  }
  img {
    height: 60px;
  }
  p {
    font-size: 27px;
  }
}

.favoritePizza {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}
a {
  text-decoration: none;
  color: black;
}
