.cont {
  display: flex;
  align-items: center;
  gap: 0;
  cursor: pointer;
  .sort {
    width: 60%;
    text-align: center;
    margin-top: 10px;
    margin-right: 10px;
  }
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 0;
  width: 70%;
  gap: 5px;
  .item {
    text-align: center;
    margin-top: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    padding: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: 16px;
  }
  .item:first-child {
    margin-left: 10px;
  }
  .active {
    width: 100%;
    background-color: rgb(190, 184, 129);
    color: white;
  }
}
