.head {
  background-color: rgb(244, 248, 248);
  width: 100%;
  border-radius: 10px;
}
.container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  font-family: cursive;
  h1 {
    font-size: 28px;
    margin: 0;
    text-transform: uppercase;
  }
  .img {
    margin-left: 20px;
    width: 40px;
  }
  span {
    font-size: 13px;
    color: gray;
  }
  .separator {
    width: 1px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: white;
    height: 20px;
  }

  .left {
    display: flex;
    gap: 20px;
  }
  .splitBtn {
    display: flex;
    width: auto;
    align-items: center;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    background-color: rgb(241, 128, 35);
    transition: all 0.3s ease;
    span {
      color: white;
      font-size: 18px;
    }
  }
  .BtnIcon {
    margin-left: 5px;
    height: auto;
  }
  .btnDiv {
    margin-left: auto;
    display: flex;
    gap: 20px;

    button {
      margin-right: 15px;
    }
  }
  a {
    text-decoration: none;
    color: white;
  }
}
.splitBtn:hover {
  background-color: rgb(238, 152, 82);
}
