.containerPizza {
  display: flex;
  flex-direction: column;
  width: auto;
  padding: 15px;
  cursor: pointer;
  .pizzaImg {
    margin-top: 20px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    img {
      height: 90px;
    }
    p {
      box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      margin-bottom: 10px;
    }
  }
  .charcter {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    .item {
      display: flex;
      gap: 5px;

      width: 100%;
      height: 100%;
      .itemChld {
        width: 50%;
        padding: 10px;
        border-radius: 10px;
        box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }
    .size {
      display: flex;
      width: 100%;
      border-radius: 10px;
      gap: 5px;
      .sizeChld {
        flex: 1;
        padding: 10px;
        border-radius: 10px;
        box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
      }
    }
  }
  .check {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 5px;
    .checkChld {
      flex: 1;
      border-radius: 10px;
      padding: 7px;
      box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
  .active {
    width: 100%;
    background-color: rgb(241, 128, 35);
    color: white;
  }
}
