body {
  background-color: rgb(190, 184, 129);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
}
.app {
  margin-top: 40px;
  background-color: white;
  border-radius: 10px;
  width: 85vw;
  position: relative;
  min-height: 100%;
  flex: 1;
  justify-content: space-between;
  &.active {
    position: relative;
    opacity: 0.2;
    z-index: 1;
    transition: opacity 0.5s ease;
  }
}

.content {
  width: 100%;
  margin-top: 5px;
}
